/*----------------- links ---------------------*/

a { 
  color: #53dbf7;
}
a:hover {
    color: #41a9be; /* darker color when hovering */
}

/*----------------ADDING WHITE SPACE-------------*/

.title {
  margin-top: 2em !important;
  margin-bottom: 0.75em;
}
.section h1 {
  margin-top: 1.75em !important;
  margin-bottom: 0.75em;
}

.section h2, 
.section h3, 
.section h4, 
.section h5 { 
  padding-top: 1.5em !important;
  margin-bottom: 0.75em;
}
 /* Space Between TOC and 
  Righthand side content on large screens */

 @media (min-width: 992px) {
    .col-md-9 {
      width: 75%;
      padding-left: 5em !important;
    }
 }
 /* Remove excessive white space at the end of page */

.tocify-extend-page {
  height: 100px !important; 
}

/*------------Table of Contents (TOC)----------- */


.tocify {
  border: none;   /*Removes border */
  border-radius: 0px; /* Gets rid of rounded corners on TOC */
  font-size: 16px;
}
.tocify ul, .tocify li { /* Increases spacing between TOC headers*/
    line-height: 25px !important;
}

.tocify ul {
  border-right: solid 1px #eee; /* Thin right border on TOC list */
}
/* Active TOC links*/

.list-group-item.active, 
.list-group-item.active:hover{
  color: #787878;
  background-color: #ffffff;
  border-color: #ccc;
}

/* Hovered TOC links*/

.list-group-item:hover { 
  color: #787878;
  background-color: #ffffff;
  border: none;
}
  