/*----------------- links ---------------------*/

a { 
  color: #53dbf7;
}
a:hover {
    color: #41a9be; /* darker color when hovering */
}

/*----------------ADDING WHITE SPACE-------------*/
 /* Space Between TOC and 
  Righthand side content on large screens */

 @media (min-width: 992px) {
    .col-md-9 {
      width: 75%;
      padding-left: 5em !important;
    }
 }
 /* Remove excessive white space at the end of page */

.tocify-extend-page {
  height: 100px !important; 
}

/*------------Table of Contents (TOC)----------- */


.tocify {
  border: none;   /*Removes border */
  border-radius: 0px; /* Gets rid of rounded corners on TOC */
  font-size: 16px;
}
.tocify ul, .tocify li { /* Increases spacing between TOC headers*/
    line-height: 25px !important;
}

.tocify ul {
  border-right: solid 1px #eee; /* Thin right border on TOC list */
}
/* Active TOC links*/

.list-group-item.active, 
.list-group-item.active:hover{
  color: #787878;
  background-color: #ffffff;
  border-color: #ccc;
}

/* Hovered TOC links*/

.list-group-item:hover { 
  color: #787878;
  background-color: #ffffff;
  border: none;
}
/* Question boxes */
.whitebox {
  color: black;
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 8px solid #1E90FF;
  border-radius: 10px;
  background: #f5f5f5 5px center/3em no-repeat; /* #1E90FF */
}
.question {
  background-image: url("imgs/question.png");
}

/* Information boxes */
.infobox {
  color: black;
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 8px solid #375A7F;
  border-radius: 10px;
  background: #white 5px center/3em no-repeat; /* #1E90FF */
}
.info {
  background-image: url("imgs/info.jpg");
}
